.tight-table td {
	white-space: normal !important;
}

table.tight-table > tbody > tr.row-odd > td {background: #e1f5c4 !important;}
table.tight-table tr:nth-child(even) {background: #e4efe9 !important;}


.emoji {
    font-family: "Noto Color Emoji", "Segoe UI Emoji", sans-serif;
}